body{
    background: #e4e4e3;
}

/*Navigation Bar*/

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 2;
  }
a :hover{
    color: black;
}
.navig{
    background-color: #ffffff;
}
#navbar {
    background-color: #ffffff; 
    position: fixed;
    top: 0; 
    width: 100%; 
    transition: top 0.45s; 
  }

.navbar-brand-center{
    text-align: center;
}
.listt{
    color: #333333;
    font-size: 1.05rem;
}
.navbar-nav { 
    margin-left: auto; 
}


/*Header Carousel*/

.header{
    margin-top: 2%;
    padding: 3% 0;
}
.car{
    background-color: #feceab;
    font-family: 'Slabo 27px', serif;
    padding-top: 8%;
    text-align: center;
    padding-bottom: 8%;
    margin-bottom: 0;
}
.car1 .car2 .car3{
    font-size: 1.34rem;
    line-height: 250%;
}
@media(max-width: 880px)
{
    .header{
        margin-top: 2%;
        padding: 10% 0;
    }
    .car{
        background-color: #e1f4f3;
        font-family: 'Slabo 27px', serif;
        padding-top: 8%;
        text-align: center;
        padding-bottom: 8%;
    }
    .pic{
        padding:1% 0;
        margin: 0;
        width: auto;
        display: inline-block;
    }
}


/*Pictures*/

.pic{
    
    margin: 1.2% 0;
    width: 100%;
    display: inline-block;
}
.pic:hover{
    outline: 4px solid black; 
    
}
.row{
    font-size: 0;
    padding: 0;
    margin: 0;
}
.pictures{
    padding-top: 2%;
    margin-top: 3%;
}


/*Pagination*/

.paginate{
    text-align: center;
    margin-top: 10px;
    padding-top: 10%;
}

.pagi{
    text-align: center;
}
.divivi{
    margin-top: 3rem;
    margin-bottom: 2rem;
}


/*Footer*/

.foot{
    background: #f7fbe1;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
}