.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 2;
  }
a :hover{
    color: black;
}
.navig{
    background-color: #ffffff;
}
.listt{
    color: #333333;
    font-size: 1.05rem;
}
.navbar-nav { 
    margin-left: auto; 
}
.centero {
    text-align: center;
}
.header{
    margin-top: 2%;
    padding: 3% 0;
}
.car{
    background-color: #e1f4f3;
    font-family: 'Slabo 27px', serif;
    padding-top: 8%;
    text-align: center;
    padding-bottom: 8%;
}
.car1 .car2 .car3{
    font-size: 1.24rem;
    line-height: 250%;
}
@media(max-width: 880px)
{
    .header{
        margin-top: 2%;
        padding: 10% 0;
    }
    .car{
        background-color: #e1f4f3;
        font-family: 'Slabo 27px', serif;
        padding-top: 8%;
        text-align: center;
        padding-bottom: 8%;
    }
}